* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-size: 2rem;
}

.leftbar {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}

.main {
  background-color: cadetblue;
  justify-content: space-evenly;
  padding: 10px;
  flex-grow: 1;
}

@media (max-width: 640px) {
  .leftbar {
    flex-direction: row;
    justify-content: space-evenly;
  }
  body {
    flex-direction: column-reverse;
  }
}
